In [5]:
import numpy as np
import pandas as pd 
import scipy as sp
import scipy.io
from scipy.stats import norm
from scipy.stats import multivariate_normal
from scipy.signal import find_peaks

import matplotlib.pyplot as plt
import matplotlib.colors as mcolors

import os
import glob
import fnmatch
import re
import argparse

import sys, getopt

In [6]:
df_cal_ch2_1 = pd.read_csv("./calib_ch2_500files.csv")
df_cal_ch2_1.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,50003,50004,Saturated,Pedestal,n pe,pe height,pe width,pe area,spe 1sig,spe 2sig
0,0,e,/pro,2020-03-04 14:35:38.993,NaN,NaN,NaN,NaN,NaN,NaN,...,384.813025,4864,False,4650.194975,0.0,0.000000,0.000000,0.000000e+00,False,False
1,1,e,/pro,2020-03-04 14:35:39.474252013,NaN,NaN,NaN,NaN,NaN,NaN,...,61.321648,5376,False,4759.670352,1.0,5917.577648,1091.412698,4.889310e+06,True,True
2,2,e,/pro,2020-03-04 14:35:39.524757315,NaN,NaN,NaN,NaN,NaN,NaN,...,292.261950,5120,False,4702.810050,0.0,0.000000,0.000000,0.000000e+00,False,False
3,3,e,/pro,2020-03-04 14:35:39.544113686,NaN,NaN,NaN,NaN,NaN,NaN,...,-361.950553,4096,False,5062.110553,1.0,3696.161447,994.468750,2.859028e+06,True,True
4,4,e,/pro,2020-03-04 14:35:39.559605878,NaN,NaN,NaN,NaN,NaN,NaN,...,260.975920,4608,False,4636.816080,0.0,0.000000,0.000000,0.000000e+00,False,False

In [7]:
df_cal_ch2_2 = pd.read_csv("./calib_ch2_501-1000files.csv")
df_cal_ch2_2.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,50003,50004,Saturated,Pedestal,n pe,pe height,pe width,pe area,spe 1sig,spe 2sig
0,0,e,/pro,2020-03-04 14:35:59.694,NaN,NaN,NaN,NaN,NaN,NaN,...,521.462995,4864,False,4737.801005,0.0,0.000,0.000000,0.000,False,False
1,1,e,/pro,2020-03-04 14:35:59.716,NaN,NaN,NaN,NaN,NaN,NaN,...,335.043538,4608,False,4645.692462,0.0,0.000,0.000000,0.000,False,False
2,2,e,/pro,2020-03-04 14:35:59.761,NaN,NaN,NaN,NaN,NaN,NaN,...,483.250814,5376,False,4777.037186,0.0,0.000,0.000000,0.000,False,False
3,3,e,/pro,2020-03-04 14:35:59.796,NaN,NaN,NaN,NaN,NaN,NaN,...,522.240000,4352,False,4505.600000,1.0,4962.304,842.065217,3230931.968,True,True
4,4,e,/pro,2020-03-04 14:35:59.841,NaN,NaN,NaN,NaN,NaN,NaN,...,236.703518,4352,False,4704.096482,0.0,0.000,0.000000,0.000,False,False

In [11]:
print('full 1st dataset:', df_cal_ch2_1.shape)
print('n pe > 0:', df_cal_ch2_1.loc[df_cal_ch2_1['n pe']>0].shape)
print('spe 1sig ==True:', df_cal_ch2_1.loc[df_cal_ch2_1['spe 1sig']==True].shape)

full 1st dataset: (500, 50014)
n pe > 0: (304, 50014)
spe 1sig ==True: (301, 50014)

In [10]:
print('full 2nd dataset:', df_cal_ch2_2.shape)
print('n pe > 0:', df_cal_ch2_2.loc[df_cal_ch2_2['n pe']>0].shape)
print('spe 1sig ==True:', df_cal_ch2_2.loc[df_cal_ch2_2['spe 1sig']==True].shape)

full 2nd dataset: (499, 50014)
n pe > 0: (311, 50014)
spe 1sig ==True: (307, 50014)